<div class="container-fluid">
    <app-topnav></app-topnav>
    <hr>

    <div class="container">
        <div class="row">
            <h3 class="pull-right">All Offices</h3>
        </div>
    </div>


    <app-office *ngFor="let office of offices" [officeElement]="office">
    </app-office>

    <div class="container mt-1">

        <button class="btn btn-primary add-office" type="button" data-bs-toggle="modal" data-bs-target="#newOfficeModal"
            id="newOffice"><span class="fa fa-plus" style="color:white"></span></button>

    </div>

    <!-- The New Office Modal -->
    <div class="modal" id="newOfficeModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Add New Office</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <label for="officeName">Office Name: </label>
                    <input id="officeName" type="text" class="form-control" (input)="updateOfficeName($event)">
                    <label for="officePhysicalAddress">Phyiscal Address: </label>
                    <input id="officePhysicalAddress" type="tel" class="form-control"
                        (input)="updateOfficeAddress($event)">
                    <label for="officeEmail">Email Address: </label>
                    <input id="officeEmail" type="tel" class="form-control" (input)="updateOfficeEmail($event)">
                    <label for="officePhone">Phone Number: </label>
                    <input id="officePhone" type="tel" class="form-control" (input)="updateOfficeTel($event)">
                    <label for="officeMaxCap">Maximum Capacity</label>
                    <input type="text" type="number" class="form-control" (input)="updateOffceCap($event)">
                    <div class="container">
                        <div class="office-color">
                            <h3>Office Colour</h3>
                            <input (input)="updateOfficeColor($event)" type="color" class="form-control w-50">
                        </div>
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary m-auto" (click)="addOffice()">Add Office</button>

                </div>

            </div>
        </div>
    </div>

</div>