.add-office {
  border-radius: 50%;
  /* Specno Dust Blue */
  background: #0d4477;
}
.modal-footer > .btn-primary {
  /* Button */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;

  position: static;
  width: 232px;
  height: 48px;
  left: 0px;
  top: 0px;

  /* Specno Blue */

  background: #489dda;
  border-radius: 100px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 12px 0px;
}

.office-color {
  /* Frame 231 */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 0px;
}

.color1 {
  /* Ellipse 2 */

  position: static;
  width: 36px;
  height: 36px;
  left: 0px;
  top: 0px;

  background: #ffbe0b;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 24px;
  border-radius: 50%;
}

.color2 {
  /* Ellipse 8 */

  position: static;
  width: 36px;
  height: 36px;
  left: 60px;
  top: 0px;

  background: #ff9b71;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 24px;
  border-radius: 50%;
}

.color3 {
  /* Ellipse 3 */

  position: static;
  width: 36px;
  height: 36px;
  left: 120px;
  top: 0px;

  background: #fb5607;

  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 0px 24px;
  border-radius: 50%;
}

.color4 {
  /* Ellipse 10 */

  position: static;
  width: 36px;
  height: 36px;
  left: 180px;
  top: 0px;

  background: #97512c;

  /* Inside auto layout */

  flex: none;
  order: 3;
  flex-grow: 0;
  margin: 0px 24px;
  border-radius: 50%;
}

.color5 {
  /* Ellipse 9 */

  position: static;
  width: 36px;
  height: 36px;
  left: 240px;
  top: 0px;

  background: #dbbadd;

  /* Inside auto layout */

  flex: none;
  order: 4;
  flex-grow: 0;
  margin: 0px 24px;
  border-radius: 50%;
}

.color6 {
  /* Ellipse 4 */

  position: static;
  width: 36px;
  height: 36px;
  left: 300px;
  top: 0px;

  background: #ff006e;

  /* Inside auto layout */

  flex: none;
  order: 5;
  flex-grow: 0;
  margin: 0px 24px;
  border-radius: 50%;
}

.color7 {
  position: static;
  width: 36px;
  height: 36px;
  left: 0px;
  top: 0px;

  background: #a9f0d1;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 24px;
  border-radius: 50%;
}

.color8 {
  position: static;
  width: 36px;
  height: 36px;
  left: 60px;
  top: 0px;

  background: #00b402;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 24px;
  border-radius: 50%;
}

.color9 {
  /* Ellipse 6 */

  position: static;
  width: 36px;
  height: 36px;
  left: 120px;
  top: 0px;

  /* Specno Blue */

  background: #489dda;

  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 0px 24px;
  border-radius: 50%;
}

.color10 {
  /* Ellipse 9 */

  position: static;
  width: 36px;
  height: 36px;
  left: 180px;
  top: 0px;

  background: #0072e8;

  /* Inside auto layout */

  flex: none;
  order: 3;
  flex-grow: 0;
  margin: 0px 24px;
  border-radius: 50%;
}

.color11 {
  /* Ellipse 5 */

  position: static;
  width: 36px;
  height: 36px;
  left: 240px;
  top: 0px;

  background: #8338ec;

  /* Inside auto layout */

  flex: none;
  order: 4;
  flex-grow: 0;
  margin: 0px 24px;
  border-radius: 50%;
}
