.card {
  border-radius: 5%;
  border-left-color: #489dda;
  border-left-width: 1.2em;
}

.office-info-text {
  display: inline-flex;
  justify-content: center;
  margin-left: 1em;
  /* Specno Text Grey */

  color: #484954;
}
